.home-container {
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: flex-start; /* Updated to move to the top-left corner */
  }
  
  .card {
    width: 500px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .scrollable-table {
    max-height: 400px;
    width: 100%; /* Updated to fill the width of the card */
    overflow-y: auto;
  }
  