/* Home.css */
.home-container {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #27496d;
}

p {
  color: #4a4a4a;
}

.analytics-overview {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

.scrollable-table {
  overflow-x: auto;
  max-height: 400px; /* Adjust the max height as needed */
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 12px 15px;
}

th {
  background-color: #27496d;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

.info-section {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.info-section h2 {
  color: #27496d;
}

NavLink {
  color: #27496d;
  text-decoration: none;
}

NavLink:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #27496d;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
